body {
  font-size: 14px;
  margin: 0 auto;
  font-family: "Avenir","ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","Meiryo UI","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  color: #333;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header {
  height: 50px;
  background-color: rgba(255,255,255,0.7);
  padding: 10px 0;
  position: fixed;
  width: 100vw;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-header {
  width: 50%;
  margin-left: 30px;
}

.header_logo_title {
  color: black;
  font-size: 28px;
}

.left-header {
  width: 50%;
  margin-right: 30px;
  text-align: right;
}

.header_logo_sub {
  color: black;
  font-size: 20px;
}

.profile_view {
  background-size:cover;
  background-color: lightskyblue;
  height: 400px;
}

.profile {
  display: flex;
}

.logo {
  display: flex;
}

.logo-text {
  margin-right: 20px;
  text-decoration: none;
}

.left-profile {
  width: calc(100vw - 50vw);
  margin:100px 0 50px 50px;
  text-align : center
}

.jpg {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid lightgreen;
}

.right-profile {
 width: 50vw;
 margin:100px 50px 50px 0;
}

.skill_view {
  background-color: gray;
  height: 460px;
}

.skill-headname {
  text-align: center;
  border-bottom: 1px solid red;
  width: 200px;
  margin: auto;
}

.skills {
  text-align: center;
  width: 50vw;
  margin: 0 auto;
}

  .skill-title {
    background-color: lightgrey;
    margin-top: 10px;
    font-size: 20px;
  }

  .skill-sub {
    margin-top: 10px;
    font-size: 18px;
    color: white;
  }


.works_view {
  background-color: lightskyblue;
  height: 600px;
}

.works-images{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.works-image {
  text-align: center;
}

.works-img {
  height: 300px;
  width: 300px;
  border: 4px solid black;
}

.name-footer {
  text-align: center;
}